# PDS-related variables
PDS_ADMIN_PASSWORD=""
PDS_ENDPOINT=""

# Manager-related variables
DATABASE_URL="database.sqlite"
SESSION_SECRET="64-character-secret-key"
DB_MIN_IDLE="1"
SERVER_PORT="9090"
ALLOWED_ORIGIN="*"
SESSION_COOKIE_SECURE="true"
